/* 引入font-awsome样式*/
/* 修改code样式*/
.theme-default-content>p>code,
.theme-default-content>p>strong>code,
.theme-default-content>h2>code,
.theme-default-content>ul>li>code,
.theme-default-content>ul>li>ul>li>code,
.theme-default-content>ul>li>strong>code,
.theme-default-content>ul>li>p>strong>code,
.theme-default-content>ul>li>ul>li>p>code,
.theme-default-content>ul>li>ul>li>p>strong>code,
.theme-default-content>ol>li>code,
.theme-default-content>ol>li>ol>li>code,
.theme-default-content>ol>li>p>code,
.theme-default-content>ol>li>a>code,
.theme-default-content>ol>li>strong>code,
.theme-default-content>table>tbody>tr>td>code,
.theme-default-content>.custom-block.tip>p>code,
.theme-default-content>ul>li>.custom-block.tip>p>code,
.theme-default-content>.custom-block.tip>ol>li>code,
.theme-default-content>.custom-block.tip>ol>li>code,
.theme-default-content>.custom-block.danger>p>code,
.theme-default-content>.custom-block.warning>p>code,
.theme-default-content>ul>li>p>code {
  background-color: #ffeee8 !important;
  color: #ff561b !important;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 0.1rem 0.4rem;
  margin: 0 4px;
}
/*重置标题里的代码段*/
h3>code,
h4>code {
  background-color: #ffeee8 !important;
  color: #ff561b !important;
}

.theme-default-content>div>p>code {
  font-weight: bold;
}

.theme-default-content>p>b {
  background-color: #edf5fd;
  color: #42b983;
  font-weight: bold;
  font-size: 90%;
  margin: auto 2px;
  padding: 0 4px;
}

.theme-default-content>.custom-block>.custom-block-title {
  font-size: 1.15rem;
  margin-top: 0.6rem;
}

.theme-default-content>blockquote {
  border-left: 0.3rem solid #42b983;
  background: #f5f5f5;
  color: #444;
}

.theme-default-content>blockquote>p {
  padding-right: 1rem;
}

h4 {
  font-size: 1.15rem;
}

.no-line-numbers.line-numbers-mode::after {
  display: none;
}

.no-line-numbers>.line-numbers-wrapper {
  display: none;
}

.no-line-numbers>pre {
  padding: 1.25rem 1.5rem !important;
}

.no-line-numbers.mini>pre {
  padding: 0.6rem 1.1rem !important;
}
